<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2VF-TERlL2csy3IqMTPDT_prcrvtpeY4</string>
	<key>GCM_SENDER_ID</key>
	<string>532903657225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antiqueatlas.WV58Application</string>
	<key>PROJECT_ID</key>
	<string>keep-collection</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-collection.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532903657225:ios:1b598fc4b17366d6a39dd8</string>
</dict>
</plist>